<!-- 404 Custom error page -->

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center p-4">
            <h1 class="display-1">404</h1>
            <h2>Page Not Found</h2>
            <p class="lead">
                Oops! It looks like we’ve taken a wrong turn. Let’s get back on track!
            </p>
           <p>
            <img src="{{ url_for('static', filename='images/errors/404-not-found.svg')}}" alt="404-not-found">
           </p>
            <a href="{{ url_for('index') }}" class="btn btn-warning">Take Me Home</a>
        </div>
    </div>
</div>
{% endblock content %}