<!-- View Booking - Facility Owner -->
{% extends 'base.html' %}

{% block content %}
<div class="dashboard-pg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-5">Booking Details</h1>
                <p class="lead">View the booking details below and take an action!</p>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center border-bottom pb-2">Booking Details</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="lead">Booking Info</p>
                                <p><strong>Number of Dogs: </strong> {{ booking.number_of_dogs }}</p>
                                <p><strong>Check-in Date: </strong> {{ check_in }}</p>
                                <p><strong>Check-out Date: </strong>{{ check_out }}</p>
                                <p><strong>Services Requested: </strong>{{booking.daycare }}</p>
                                <p><strong>Created at: </strong>{{created_at }}</p>
                                <p><strong>Last updated at: </strong>{{ updated_at }}</p>
                                <p><strong>Status: </strong>{{ booking.status }}</p>
                            </div>
                            <div class="col-lg-6">
                                <p class="lead">Client Details</p>
                                <p><strong>Client username: </strong>{{ booking.user.username }}</p>
                                <p><strong>Client phone: </strong>{{ booking.user.phone_number }}</p>
                                <p><strong>Client email: </strong>{{ booking.user.email }}</p>
                            </div>
                            <div class="col-lg-12">
                                {% if booking.status == 'pending' %}
                                <a href="{{ url_for('accept_booking', booking_id=booking.id) }}" class="btn btn-success">Accept</a>
                                <a href="{{ url_for('decline_booking', booking_id=booking.id) }}" class="btn btn-danger">Decline</a>
                                {% else %}
                                <a href="{{ url_for('dashboard_facility_owner') }}" class="btn btn-dark">Back</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
                
