<!-- Footer  -->
<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>PawsitivelyBooked</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="" class="nav-link p-0 text-body-secondary">About Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Help Center</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Terms of Use</a></li>
          <li class="nav-item mb-2"><a href="{{url_for('privacy_policy')}}"
              class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Contact Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Support</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sales</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Useful Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="{{url_for('features')}}"
              class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="{{url_for('faqs')}}" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>



      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>

          </p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>&copy; 2024 PawsitivelyBooked, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://twitter.com/your_boi_stan" target="_blank"><i
              class="bi bi-twitter text-dark fs-5"></i></a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://www.facebook.com/mqelisi.nyoni.1" target="_blank"><i
              class="bi bi-facebook text-primary fs-5"></i></a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://www.instagram.com/bigstan_codes" target="_blank"><i
              class="bi bi-instagram text-danger fs-5"></i></a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://www.linkedin.com/in/mqelisi-stanley-nyoni-10502423b"
            target="_blank"><i class="bi bi-linkedin text-primary fs-5"></i></a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://github.com/stanley-nyoni" target="_blank"><i
              class="bi bi-github text-dark fs-5"></i></a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="https://wa.me/27611440669" target="_blank"><i
              class="bi bi-whatsapp text-success fs-5"></i></a>
        </li>

      </ul>
    </div>
  </footer>
</div>