<!-- FAQs -->

{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-12 mt-4 mb-4">
    <h5 class="display-5 text-center mb-2">Frequently Asked Questions</h5>
    <div class="container">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              How do I book a pet sitter?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              To book a pet sitter, you can either sign up for an account or log in if you already have one. Once you are logged in, you can search for pet sitters in your area and view their profiles. You can then send a booking request to the pet sitter of your choice.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              How do I pay for pet sitting services?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              You can pay for pet sitting services using a credit card or PayPal. Payments are processed securely through our website, and you will receive a confirmation email once the payment has been processed.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              What happens if I need to cancel a booking?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              If you need to cancel a booking, you can do so through your account dashboard. Please note that there may be
              cancellation fees depending on the pet sitter's cancellation policy.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              How do I contact customer support?
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              You can contact customer support by emailing <a href="#">pawsitivelybookings@gmail.com</a> or by calling our customer support number at 0611440669. Our customer support team is available 24/7 to assist you with any questions or concerns you may have.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              How do i update my profile information?
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              You can update your profile information by logging into your account and clicking on the "Account" tab and selecting "My Profile". From there, you can edit your profile information, including your name, email address, and phone number.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Why do i have to create a profile to book a pet sitter?
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Creating a profile allows us to verify your identity and ensure that you are a legitimate user. It also allows pet sitters to learn more about you and your pet before accepting a booking request.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              How do i leave a review for a pet sitter?
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              You can leave a review for a pet sitter by logging into your account and clicking on the "Bookings" tab. From there, you can select the booking you would like to review and leave a rating and comment for the pet sitter.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              Why do i have to create a profile for my pet?
            </button>
          </h2>
          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Creating a profile for your pet allows pet sitters to learn more about your pet's needs and preferences before accepting a booking request. It also helps us ensure that your pet is up-to-date on vaccinations and other health requirements.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              How do i update my pet's profile information?
            </button>
          </h2>
          <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              You can update your pet's profile information by logging into your account and clicking on the "My Dog Profile" tab. From there, you can edit your pet's profile information, including their name, breed, age, and any special needs or preferences.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              How many dogs can i register on my account?
            </button>
          </h2>
          <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              You can register as many dogs as you like on your account. Each dog will have their own profile, and you can book pet sitting services for each dog separately.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
              How do i delete my account?
            </button>
          </h2>
          <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              To delete your account, please contact customer support at <a href="#">pawsitivelybookings@gmail.com</a> or call our customer support number at 0611440669. Our customer support team will assist you with deleting your account. Please note that once your account is deleted, all of your information will be permanently removed from our system.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwelve">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
              How do I manage bookings for my facility?
            </button>
          </h2>
          <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              To manage bookings for your facility, you can log into your account and click on the "Facility" tab. From there, you can view and manage all of your bookings, including accepting or declining booking requests, updating availability, and setting pricing and policies.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThirteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
              How do I update my facility's profile information?
            </button>
          </h2>
          <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              You can update your facility's profile information by logging into your account and clicking on the "Facility" tab. From there, you can edit your facility's profile information, including your facility's name, address, contact information, and any special policies or requirements.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFourteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
              What information do I need to provide when registering my facility?
            </button>
          </h2>
          <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              When registering your facility, you will need to provide basic information about your facility, including your facility's name, address, contact information, and any special policies or requirements. You will also need to provide payment information for processing bookings and payments.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}