<!-- Registration page -->
{% extends 'base.html' %}

{% block content %}
<div class="login-pg">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="welcome-text">
                    <h2>Get Started Today</h2>
                </div>
                <div class="intro-text">
                    <p>Find the perfect retreat for your furry friend! Whether it's for daycare, or overnight stays,
                        PawsitivelyBooked connects you with trusted facilities that offer top-notch care for your
                        beloved dog.</p>
                    <div class="login-buttons">
                        <a href="/signup/facility_owner" class="btn btn-primary mr-2">Sign Up as a Facility Owner</a>
                        <a href="/signup/dog_owner" class="btn btn-primary">Sign Up as a Dog Owner</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock content %}